/*================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
[dir] .main-menu .navbar-header .navbar-brand {
    margin-top: 0;
}

.main-menu .navbar-header .navbar-brand .brand-logo img {
    max-width: 100px;
}
@media screen and (max-width: 425px) {
  html[dir] [data-col="1-column"].horizontal-layout .app-content {
    padding: calc(4.45rem + calc(2rem - 0.8rem)) calc(2rem - 0.8rem) 0 calc(2rem - 0.8rem) !important;
  }
}

.admins{
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  margin-bottom: 20px;
  align-items: center;
  color: #fff;
  background: linear-gradient(118deg, #528be6, rgba(82, 139, 230, 0.7));
  box-shadow: 0 0 10px 1px rgb(82 139 230 / 70%);
  p{
    margin: 12px 0;
  }
}
.admins__btn{
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  color: #fff;
  &::before{
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 12px;
    height: 12px;
    background: transparent;
    border-bottom: 2px solid #fff;
  }
  &::after{
    content: '';
    position: absolute;
    top: 11px;
    left: -5px;
    width: 12px;
    height: 12px;
    background: transparent;
    border-right: 2px solid #fff;
  }
  &:hover, &:focus{
    color: #fff;
  }
}
.pointer{
  cursor: pointer;
}

.b-table-sticky-header {
  max-height: 500px;
}

// filters animation пока нахуй ненадо

.arrow-static {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 11px;
    right: 10px;
    width: 12px;
    height: 12px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    transition: all .3s;
  }
}
.arrow-static.active {
  &::before {
    transform: rotate(225deg);
    top: 18px;
  }
}
.toggle__filters {
  // display: block;
  transform: scale(1);
  transform-origin: top;
  opacity: 1;
  transition: all .3s;
}
.toggle__filters.active {
  // display: none;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
}

.custom-filters {
  height: 100%;
  transition: all .3s;
  &.active {
    height: 55px;
  }
}
